/*
================ MENU BAR ================
 */

.menubar {
    -fx-background-color: transparent;
    -fx-spacing: 10px;
}

.menubar .container {
    -fx-background-color: transparent;
    -fx-spacing: 8px;
}

.menubar .menu {
    -fx-background-color: transparent;
    -fx-text-fill: #6b6358;
    -fx-font-size: 13px;
    -fx-font-family: "Segoe UI", Arial, sans-serif;
    -fx-font-weight: 500;
    -fx-cursor: hand;
}

.menubar .menu:hover {
    -fx-background-color: rgba(255, 255, 255, 0.51);
    -fx-background-radius: 4px;
}

.menubar .menu:showing {
    -fx-background-color: #9eacbd;
    -fx-text-fill: white;
}

.menubar .menu .label {
    -fx-text-fill: #6b6358;
}

.menu-bar .menu:hover .label,
.menu-bar .menu:showing .label {
    -fx-text-fill: #6b6358;
}

/*
================ NAVIGATION BAR ================
 */

.navbar {
    -fx-spacing: 15px;
    -fx-padding: 12px 20px;
    -fx-background-color: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.73));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
    -fx-background-radius: 16px;
}

.navbar-btn {
    -fx-background-color: transparent;
    -fx-padding: 6px 12px;
    -fx-border-radius: 8px;
    -fx-border-width: 1px;
    -fx-border-color: #202020;
    -fx-text-fill: #050505;
    -fx-font-size: 15px;
    -fx-font-family: "Roboto Thin";
}

.navbar-btn:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(91, 92, 89, 0.4), 10, 0.5, 0.0, 4.0);
    -fx-text-fill: #000000;
    -fx-scale-y: 1.03;
    -fx-scale-x: 1.03;
}

/*
================ STATUS BAR ================
 */

.statusbar {
    -fx-spacing: 15px;
    -fx-padding: 12px 20px;
    -fx-background-color: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.73));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, -4.0);
    -fx-alignment: center;
}